#main_fig {
  width:300px;
  height:300px;
  float:left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-row {
  background-color: lightgrey;
  }

.active{
  border-color:#0BADA6;
  border-style: solid;      
}

.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}

#small-img:hover{
  border: 1px solid rgb(20, 180, 164);
  }

#main_image {
  width:100%;
  height:100%;
}

 @media (max-width: 600px) {

#small-img {
    float: left;
    position: relative;
 }

#small-img:hover {
  border: 1px solid rgb(10, 97, 88);
  }

.navbar div {
    margin: inherit; 
    background-color:rgb(10, 97, 88);  
  }

.div-row {
  background-color: grey;
 }

#main_image {
  width:75%;
  height:75%;
  }
}
